<div *ngIf="montoPago > 0" class="container-fluid mt-3">

  <!--Page 0 -->
  <div>
    <form name="formGroup" [formGroup]="formGroup" *ngIf="page == 0">
      <div class="form-group">
        <div>
          <label for="inputAddress">Direccion</label>
          <input
            formControlName="direccion"
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="San Martin "
          />
        		<span class="text-danger" *ngIf="formGroup.controls.direccion.touched && formGroup.controls.direccion.invalid">
                    Ingrese una Direccion Valida
            </span>
        </div>
        <br/>
         
        <div>
          <label for="inputAddress">Numero de Calle</label>
          <input
            formControlName="numeroCalle"
            type="number"
            class="form-control"
            placeholder="422"
          />
        		<span class="text-danger" *ngIf="formGroup.controls.numeroCalle.touched && formGroup.controls.numeroCalle.invalid">
                    Ingrese un numero de Calle
            </span>
        </div>


        <br />
        <div>
          <label for="inputState">Ciudad</label>
          <select id="inputState" class="form-control" formControlName="ciudad">
            <option selected>Cordoba</option>
            <option>Rio Cuarto</option>
            <option>Jesus Maria</option>
          </select>
            <span class="text-danger" *ngIf="formGroup.controls.ciudad.touched && formGroup.controls.ciudad.invalid">
                      Dato requerido.
            </span>
        </div>
        <br />
        <label for="exampleFormControlTextarea1">Referencia Opcional</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <br />
  
      </div>
    </form>
  </div>

  <!--Page 1 -->
  <div *ngIf='page == 1'>
      <h1 class='d-flex justify-content-around '>Metodo de pago?</h1>
    
      <div class='row d-flex justify-content-around mt-3 text-success'>
        <h3 >{{this.payMethodStr}}</h3>
        <button (click)="togglePayMethod()" type="button" class="btn btn-outline-light  text-success">Cambiar</button>
      </div>
      <br>
      <p class='d-flex justify-content-around '>Monto a pagar:<strong class="text-danger">{{montoPago | currency}}</strong></p>
      <br>
      <hr>
     
    

      <div *ngIf="!payMethod">
        <form [formGroup]="formGroup" >
          <div class="col-auto">
            <input formControlName='nombre' type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombre">
          </div>
          <span class="text-danger" *ngIf="formGroup.controls.nombre.touched && formGroup.controls.nombre.invalid">
                      Dato requerido.
          </span>

          <div class="col-auto">
            <input formControlName='apellido' type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Apellido">
          </div>
           <span class="text-danger" *ngIf="formGroup.controls.apellido.touched && formGroup.controls.apellido.invalid">
                      Dato requerido.
            </span>

          <div class="col-auto">
            <input formControlName='numTarjeta' class="form-control mb-2" id="inlineFormInput" placeholder="Numero de Tarjeta">
          </div>
           <span class="text-danger" *ngIf="formGroup.controls.numTarjeta.touched && formGroup.controls.numTarjeta.invalid">
                      Ingrese una terjeta VISA valida
            </span>

        
          <div class="col-auto">
              <input formControlName='fechaVencimiento' type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Fecha (MM/AAAA)">
          </div>
          
           <span class="text-danger" *ngIf="formGroup.controls.fechaVencimiento.touched && formGroup.controls.fechaVencimiento.invalid">
                      Su tarjeta no es valida.
            </span>

          <div class="col-auto">
              <input formControlName='cvc' type="number" class="form-control mb-2" id="inlineFormInput" placeholder="CVC">
          </div>
           <span class="text-danger" *ngIf="formGroup.controls.cvc.touched && formGroup.controls.cvc.invalid">
                      Ingrese un CVC valido
            </span>


        </form>  
      </div>
      

      <div *ngIf="payMethod">
        <form [formGroup]="formGroup">
            <div class="row d-flex justify-content-center">
            <input formControlName="montoPagar" type="number" class="form-control mb-2 col-9" id="inlineFormInput" placeholder="Ingrese el Monto con el que pagara"><h2 class="col-1">$$</h2>
          </div>
        </form>
      </div>

  </div>

  <!--Page 2 -->
  <div *ngIf='page == 2'>
    <h1 class="text-success">Ya casi..</h1>
    <br>
    <h3>Cuando desea recibir su pedido?</h3>
    <div class="row justify-content-end">
        <div class="col-5 m-2 ">
          <div class="row m-1">
            <button (click)="timeYa()" type="button" class="btn btn-outline-danger btn-block">Ya</button>
          </div> 
          <div class="row m-1">
            <button (click)="timeWait()" type="button" class="btn btn-outline-primary btn-block">Puedo Esperar</button>
          </div> 
        </div> 
    </div>
      
    <div *ngIf="time" class="m-5">
      <form [formGroup]="formGroup">
        <div class="col-auto">
              <input formControlName="fechaEntrega" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Fecha D/M/AAAA">
        </div>
        <span class="text-danger" *ngIf="formGroup.controls.fechaEntrega.touched && formGroup.controls.fechaEntrega.invalid">
                      Ingrese una fecha valida
        </span>

         <div class="col-auto">
              <input formControlName="horaEntrega" class="form-control mb-2" id="inlineFormInput" placeholder="Hora HH:MM">
        </div>
        <span class="text-danger" *ngIf="formGroup.controls.horaEntrega.touched && formGroup.controls.horaEntrega.invalid">
                      Ingrese un horario valido
        </span>
      </form>
    </div>
    
  </div>



  <div class="mt-2">
    <div *ngIf=" page > 0 && page < 2">
    <button (click)='lastPage()' type="submit" class="btn btn-light">{{btnOne}}</button>
    </div>

    <div *ngIf=' page < 3'>
    <button (click)='nextPage()' type="submit" class="btn btn-success">{{btnTwo}}</button>
    </div>
  </div>

  <div *ngIf="page == 3">
    <h1 class="text-success "> SU COMPRA SE HA REALIZADO <strong>CORRECTAMENTE</strong></h1>
    <hr>
     <button (click)='inicio()' type="submit" class="btn btn-success">Menu</button>
  </div>


</div>




